# GEMINI_API_KEY: Required for Gemini AI API calls.
# AI Studio automatically injects this at runtime from user secrets.
# Users configure this via the Secrets panel in the AI Studio UI.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# MONGODB_URI: Fully-qualified connection string for the MongoDB instance (e.g. mongodb+srv://...)
# If not supplied, the application will gracefully fall back to local JSON file persistence.
# MONGODB_URI=mongodb://bubbuaaloo:X7pLz9eWvTx8M_Bc3GrH2nU4YfLdQAK5mRYzNwVtHu1cXgEJoSbMkdT6qPvW3Lr@77.37.49.210:27017/grampad?authSource=admin
MONGODB_URI="mongodb://127.0.0.1:27017"
#MONGODB_URI="mongodb+srv://cryptonexum_db_user:r9PXG9oWpMNDWUSn@cluster0.rk6sdyf.mongodb.net/?appName=Cluster0"
# VITE_LAUNCHPAD_WALLET = "UQCNRcmhxbSuxSFiOFJyxz1dfewWQyl-PmmgOIYbFzeJ-Km7"
#superadmin access
VITE_LAUNCHPAD_WALLET = "0QAvnKSyk529opRkKNLcQtuQfPVNT_iEB4jjc5yJfDXoOQu4"
VITE_LAUNCHPAD_FEES = 5000000
VITE_TONCENTER_API_KEY="e9564d7b526af765ad562c5eb50e58bfb912131f87e5b54c7716cdced0b64e38"
VITE_TONCENTER_API_KEYS=e9564d7b526af765ad562c5eb50e58bfb912131f87e5b54c7716cdced0b64e38,5023c26c351611a5cebe3d5255a88f6d1f1f0c56a6a05fddc02b1ddf13e60d42,fa28f07a0c5393aa79f71c367177bc4ab09c4dd4c121f45dc0e63403826b72c8,fc141acbed90802916564edbc7607b943745ea93c868b331e003844778248776,9dedcab325b4cd396995593a58f6f196b447854802a44f559676cb8e76c3d123,683fabc42a47bdaa494bec4c8f890b4a638e6df7d9a5b253ea0ae62c5a1c86fd
# VITE_TON_USDT_MASTER = "EQCxE6mUtQJKFnGfaROTKOt1lZbDiiX1kCixRv7Nw2Id_sDs"
VITE_TON_USDT_MASTER = "kQDPDRsme4qS0Tj5G2vd8uMYHXoAQctI7jIGoRbiHWbmdz1E"
VITE_TON_USDT_DECIMALS = 6
DB_NAME="grampad"
VITE_TONCENTER_ENDPOINT="https://testnet.toncenter.com/api/v2/jsonRPC"

# Admin authentication. Rotate these values before production deployment.
ADMIN_EMAIL="admin@grampad.io"
ADMIN_PASSWORD_HASH="scrypt:f0bf00ca3169ab567f02196a0ebef2a0:273099fcc36b4125600cc725b8d4b7c44865caa1eb5c1858ab25651c6d633c940085b3bd233318aed2e94e0eed3438768a1df8bea2886e22115c8d379b24b8b3"
ADMIN_JWT_SECRET="1v_9Cz-hY32BHSPwdIOobM_k8ZajStKdFnNtKZa72vAUopE8nBDkq96p1cnQLPg6"

# SMTP used for application confirmation and status update emails.
SMTP_HOST="mail.grampad.io"
SMTP_PORT="465"
SMTP_SECURE="true"
SMTP_USER="noreply@grampad.io"
SMTP_PASS="}d%ho.AFKb)8=Kf!"
SMTP_FROM="Grampad.io <noreply@grampad.io>"
SMTP_REPLY_TO="Grampad Listings <listings@grampad.io>"


# GRAMX staking.
VITE_GRAMX_MASTER="kQA7gazPwVuNQ40ct6O2hoO4hghjmmCCqN3BNrSTVm58zJFf"
VITE_GRAMX_DECIMALS="9"
VITE_STAKING_CONTRACT_ADDRESS="EQA8sv1mqdKyVWaBujQWVyRLR1mGDKpZkPAhdt7ouHlww4F6"
VITE_STAKING_DEFAULT_APR_BPS="1200"
VITE_STAKING_DEFAULT_MIN_GRAMX="100"
VITE_STAKING_DEFAULT_FLEX_FEE_BPS="500"
VITE_UNIVERSAL_LOCKER_ADDRESS="EQBnLvOrihKfBdEIKxSqtkSGhQX0-ez8eor450xmWubW-ce0"

NODE_ENV="dev"
